* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: rebeccapurple;
	overflow: hidden;
}

div {
	margin: 0;
	padding: 0;
}

.clock_p {
	display: flex;
	position: absolute;
	left: 50%;
	bottom: -25px;
	transform: translateX(-50%);
	font-size: 2rem;
}

.clock_btn {
	width: 100px;
	height: 50px;
	position: absolute;
	bottom: 2px;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	border: 2px solid #000;
	color: white;
	background-color: #000;
	font-size: 1.5rem;
}

.clock_btn:hover {
	font-size: 2rem;
	cursor: pointer;
}

.clock_div {
	width: 350px;
	height: 350px;
	border: 1px solid white;
	border-radius: 10px;
	background-color: white;
	position: relative;
	cursor: move;
	display: inline-block;
}

.clock{
	position: relative;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 250px;
	border: 10px solid #111;
	background-color: #fff;
	left: 25px;
}

.clock:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.clock:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

.num{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	padding: 18px;
}

.num:after{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 5px;
	height: 15px;
	background-color: black;
}

.num1{
	transform: rotate(30deg);
}
.num1 div{
	transform: rotate(-30deg);
}

.num2{
	transform: rotate(60deg);
}
.num2 div{
	transform: rotate(-60deg);
}

.num3{
	transform: rotate(90deg);
}
.num3 div{
	transform: rotate(-90deg);
}

.num4{
	transform: rotate(120deg);
}
.num4 div{
	transform: rotate(-120deg);
}

.num5{
	transform: rotate(150deg);
}
.num5 div{
	transform: rotate(-150deg);
}

.num6{
	transform: rotate(180deg);
}
.num6 div{
	transform: rotate(-180deg);
}

.num7{
	transform: rotate(210deg);
}
.num7 div{
	transform: rotate(-210deg);
}

.num8{
	transform: rotate(240deg);
}
.num8 div{
	transform: rotate(-240deg);
}

.num9{
	transform: rotate(270deg);
}
.num9 div{
	transform: rotate(-270deg);
}

.num10{
	transform: rotate(300deg);
}
.num10 div{
	transform: rotate(-300deg);
}

.num11{
	transform: rotate(330deg);
}
.num11 div{
	transform: rotate(-330deg);
}

.hand{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hand div{
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.sec{
	width: 3px;
	height: 40%;
	background-color: red;
}

.min{
	height: 38%;
	width: 4px;
	border-radius: 2px;
	background-color: #000;
}

.hour{
	height: 28%;
	width: 5px;
	border-radius: 4px;
	background-color: #000;
}

.text_btn {
	width: 100px;
	height: 50px;
	position: absolute;
	bottom: 2px;
	left: 60%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	border: 2px solid #000;
	color: white;
	background-color: #000;
	font-size: 1.5rem;
}

.text_btn:hover {
	font-size: 2rem;
	cursor: pointer;
}

.text_div {
	width: 600px;
	height: 493.6px;
	border: 1px solid white;
	border-radius: 10px;
	background-color: white;
	position: absolute;
	right: 10px;
	display: inline-block;
}

.text_div .move {
	padding: 0;
	width: 100px;
	height: 30px;
	cursor: move;
	margin-left: 50%;
	transform: translateX(-50%);
	border: none;
	border-radius: 10px;
	background-color: #000;
	color: white;
}

.text_div .text_input {
	margin-top: 10px;
	border: 1px solid #dddddd;
	width: 100%;
	height: 15.5rem;
	resize: none;
}

.container {
	max-width: 991px;
	width: 100%;
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
}
.toolbar {
	padding: 16px;
	background: #eee;
}
.toolbar .head {
	display: flex;
	grid-gap: 10px;
	margin-bottom: 16px;
	flex-wrap: wrap;
}
.toolbar .head > input {
	max-width: 100px;
	padding: 6px 10px;
	border-radius: 6px;
	border: 2px solid #ddd;
	outline: none;
}
.toolbar .head select {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
}
.toolbar .head .color {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	grid-gap: 6px;
	padding: 0 10px;
}
.toolbar .head .color span {
	font-size: 14px;
}
.toolbar .head .color input {
	border: none;
	padding: 0;
	width: 26px;
	height: 26px;
	background: #fff;
	cursor: pointer;
}
.toolbar .head .color input::-moz-color-swatch {
	width: 20px;
	height: 20px;
	border: none;
	border-radius: 50%;
}
.toolbar .btn-toolbar {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	grid-gap: 10px;
}
.toolbar .btn-toolbar button {
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 6px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.toolbar .btn-toolbar button:hover {
	background: #f3f3f3;
}
#content {
	padding: 16px;
	outline: none;
	max-height: 50vh;
	overflow: auto;
}
#show-code[data-active="true"] {
	background: #eee;
}

.show {
	cursor: pointer;
	padding: 10px;
	border: none;
	background-color: #000;
	color: white;
	border-radius: 10px;
}

.time_btn {
	width: 100px;
	height: 50px;
	position: absolute;
	bottom: 2px;
	left: 70%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	border: 2px solid #000;
	color: white;
	background-color: #000;
	font-size: 1.5rem;
}

.time_btn:hover {
	font-size: 2rem;
	cursor: pointer;
}

.time_div {
	width: 200px;
	height: 200px;
	border: 1px solid white;
	border-radius: 10px;
	background-color: white;
	position: absolute;
	left: 30%;
	display: inline-block;
	cursor: move;
}

.time_timer {
	text-align: center;
	position: relative;
	top: 2%;
	font-size: 2rem;
}

#start_btn {
	background-color: #000;
	color: white;
	padding: 10px 20px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid #000;
	border-radius: 10px;
	cursor: pointer;
}

#start_btn:hover {
	font-size: 1.5rem;
	color: #000;
	background-color: #fff;
}

.start_btn_shake {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}